.Menu {
    display: flex;
    flex-basis: 250px;
    background-color: #2c3e50;
    color: #FFF;
}

.Menu nav {
    flex: 1;
}

.Menu ul {
    list-style: none;
    padding: 0;
}

.Menu li {
    display: flex;
}

.Menu li a {
    flex: 1;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
}

.Menu li a:hover {
    background-color:#7f8c8dcc;
}